 <!-- recent_event_area_strat  -->
    <div class="recent_event_area section__padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section_title text-center mb-70">
                        <h3 class="mb-45">Etkinlikler</h3>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="single_event d-flex align-items-center">
                        <div class="date text-center">
                            <span>02</span>
                            <p>Ara, 2022</p>
                        </div>
                        <div class="event_info">
                        <a href="javascript:void(0);">
                            <h4>2022 Tıp Fakültesi Aralık Ayı Konferans Serisi </h4>
                            </a>
                            <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 02Ara 2022 </span> <span> <i class="flaticon-placeholder"></i> Cumhuriyet konf.</span> </p>
                        </div>
                    </div>
                    <div class="single_event d-flex align-items-center">
                        <div class="date text-center">
                            <span>26</span>
                            <p>Kas, 2022</p>
                        </div>
                        <div class="event_info">
                        <a href="javascript:void(0);">
                            <h4>Sokaktan Gelen Rekabete Hazır Mısınız?</h4>
                            </a>
                        <p><span> <i class="flaticon-clock"></i> 11:30 pm</span> <span> <i class="flaticon-calendar"></i> 26Kas 2022 </span> <span> <i class="flaticon-placeholder"></i> Cumhuriyet konf.</span> </p>
                        </div>
                    </div>
                    <div class="single_event d-flex align-items-center">
                        <div class="date text-center">
                            <span>23</span>
                            <p>Kas, 2022</p>
                        </div>
                        <div class="event_info">
                        <a href="javascript:void(0);">
                                <h4>Bitkisel Tasarım Projesi ve Kitap</h4>
                            </a>
                            <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 23Kas 2020 </span> <span> <i class="flaticon-placeholder"></i> Cumhuriyet konf.</span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- recent_event_area_end  -->