<!-- recent_news_area_start  -->
    <div class="recent_news_area section__padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section_title text-center mb-70">
                        <h3 class="mb-45">Haberler</h3>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="single__news">
                        <div class="thumb">
                        <a href="javascript:void(0);">
                                <img src="img/news/1.png" alt="">
                            </a>
                        </div>
                        <div class="news_info">
                        <a href="javascript:void(0);">
                                <h4>Dijital İletişim Becerileri Konferansı Düzenlendi</h4>
                            </a>
                            <p class="d-flex align-items-center"> <span><i class="flaticon-calendar-1"></i> Kas 22, 2022</span>

                                <span> <i class="flaticon-comment"></i> 07 yorum</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single__news">
                        <div class="thumb">
                        <a href="javascript:void(0);">
                                <img src="img/news/2.png" alt="">
                            </a>
                        </div>
                        <div class="news_info">
                        <a href="javascript:void(0);">
                                <h4>Rektörümüz Uluslararası İnsan Kaynakları Forumu’na Katıldı</h4>
                            </a>
                            <p class="d-flex align-items-center"> <span><i class="flaticon-calendar-1"></i> Ara 06, 2022</span>

                                <span> <i class="flaticon-comment"></i> 12 yorum</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- recent_news_area_end  -->