    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <!-- single_Banner -->
            <div class="single_slider  d-flex align-items-center slider_bg_1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Değer <br> Üreten Üniversite
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ single_Banner -->
            <!-- single_Banner -->
            <div class="single_slider  d-flex align-items-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Çevre ve sağlık <br> Alanında <br> İhtisas sahibi
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ single_Banner-->
            <!-- single_Banner -->
            <div class="single_slider  d-flex align-items-center slider_bg_3">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Eğitimde öncü
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ single_Banner -->
        </div>
    </div>
    <!-- slider_area_end -->